vim/bundle/.VimballRecord
vim/bundle/vim-elixir
vim/bundle/plantuml-syntax
vim/bundle/tabular
vim/bundle/rainbow_parentheses.vim
vim/bundle/syntastic
vim/bundle/vim-fugitive
vim/bundle/neomake
vim/bundle/phoenix.vim
vim/bundle/vim-pathogen
vim/bundle/tagbar
vim/bundle/tcomment_vim
vim/bundle/ctrlp.vim
vim/bundle/patchreview-vim
vim/bundle/vim-ruby
vim/bundle/vim-rest-console
vim/bundle/viske
vim/bundle/ruby-matchit
vim/bundle/vim-projectionist
vim/bundle/VIM-XML
vim/bundle/vim-airline
vim/bundle/vim-gutentags
vim/bundle/vim-simplefold
